:root {
  /* // -------------COLORS-------------- */

  --primaryAccentColor: #2196f3;
  --primaryWhiteColor: #ffffff;
  --primaryBlackColor: #000000;
  --primaryTextColor: #757575;
  --primaryTitleColor: #212121;
  --primaryBgColor: #f5f4fa;
  --secondaryBgColor: #2f303a;
  --thrdBgColor: #afb1b8;
  --labelColor: #757575;

  /* // -------------BREAKPOINTS-------------- */

  --breakpointBeeforeTell: 479px;
  --breakpointTell: 480px;
  --breakpointBeeforeTablet: 767px;
  --breakpointTablet: 768px;
  --breakpointBeeforeDesktop: 1199px;
  --breakpointDesktop: 1200px;
}
